{{ define "main" }}
<div class="container">
    <h2 class="text-center">{{ .Title }}</h2>

    <!-- Nav tabs for the categories -->
    <ul class="nav nav-tabs" role="tablist">
        {{ range $index, $subcategory := .Site.Data.pricing.web.subcategories }}
        <li class="nav-item">
            <a class="nav-link {{ if eq $index 0 }}active{{ end }}" data-bs-toggle="tab" href="#web-{{ .subcategory }}">{{ .subcategory }}</a>
        </li>
        {{ end }}
    </ul>

    <!-- Tab content for the three categories -->
    <div class="tab-content mt-4">
        <!-- Web Services -->

        {{ range $index, $subcategory := .Site.Data.pricing.web.subcategories }}
        <div id="web-{{ .subcategory }}" class="container tab-pane {{ if eq .index 0 }}active{{ end }}">
            <h3>{{ title .subcategory }} Services</h3>
            {{ $services := slice $subcategory }}
            {{ range $index, $service := $services }}
            <div id="{{ $subcategory }}-{{ .service }}" class="container tab-pane {{ if eq .index 0 }}active{{ end }}">
                <div class="row">
                    <!-- Pricing cards  -->
                    {{ range .services }}
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <div class="card-header bg-primary border-primary text-white">
                                <h4 class="my-0 fw-normal">{{ .name }}</h4>
                            </div>
                            <div class="card-body">
                                <ul class="list-unstyled mt-3 mb-4">
                                    <li>{{ .description }}</li>
                                    <li><strong>{{ .price }}</strong></li>
                                    <li><strong>{{ .unit }}</strong></li>
                                    <li><strong>{{ .revisions }}</strong></li>
                                    <li><strong>{{ .lead_time }}</strong></li>
                                </ul>
                                <button type="button" class="w-100 btn btn-lg btn-primary">Contact us</button>
                            </div>
                        </div>
                    </div>
                    {{ end }}
                </div>
            </div>
            {{ end }}
        </div>
        {{ end }}
    </div>
</div>
{{ end }}

